<!DOCTYPE html>
<html>

<style>

</style>
  <head>
    <title>NBA Stats Modeling</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="#" style="padding-left:50px;">NBA Stats Modeling</a>
            <ul class="nav">
                <li><a href="/plot">Clustering</a></li>
                <li><a href="/predict">Regression</a></li>
                <li><a href="/graph">Network</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="#">Tim Brown, Alan Kao, Boris Lin</a></li>
            </ul>
        </div>
    </div>
  </head>
  <body style="margin:30px">
    <div class="span12" style="margin:15px;"><h1 style="text-align:center;width:100%;">Player Clustering</h1></div>
    <a href="/plot"><img src="static/cluster.png"></img></a>
    <div class="span12" style="margin:15px;"><h1 style="text-align:center;width:100%;margin">Statistics Prediction</h1></div>
    <a href="/predict"><img src="static/regression.png"></img></a>
  </body>
</html>